{% extends 'base.html' %}
<br> {% block content %}
<form action="{{url_for('find_recipe_to_edit')}}" method="POST">
    <h5>Please enter the name and pin number you used when creating your recipe.</h5>
    <div class="row">
        <div class="input-field col s3">
            <i class="material-icons prefix">person</i>
            <input id="author" type="text" name="owner" class="validate" required>
            <label for="author">Your name</label>
        </div>
        <div class="input-field col s3">
            <i class="material-icons prefix">lock</i>
            <input id="pin" type="password" name="pin" class="validate" required>
            <label for="pin">4 digit pin</label>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light" type="submit">Edit Recipe
            <i class="material-icons right">edit</i>
            </button>
        </div>
        {% if doc_not_found %}
        <div class="col s12">
            <p>Sorry! No recipe was found with that name and pin number combination</p>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}