{% extends 'base.html' %} {% block content %}
<div class="notebook">
    <div class="page-wrapper">
        <div class="row recipe-container">
            <div class="col s12 m12 l3">
                <div class="col s6 m5 l12 right-align">
                    <img src="{{recipe.img_url}}" alt="image for {{recipe.title}}" class="recipe-img">
                </div>
                <div class="col s6 m7 l12 right-align">
                    <h3>{{recipe.title}}</h3>
                </div>
            </div>
            <div class="col s12 m12 l9 tabs-container">
                <ul id="tabs-swipe-demo" class="tabs">
                    <li class="tab col s8 m4"><a class="active" href="#ingredients">Ingredients</a></li>
                    <li class="tab col s4 m8"><a href="#steps">Steps</a></li>
                </ul>
                <div id="ingredients" class="col s12 ingredients-container">
                    <ul class="recipe-ingredients">
                        {% for ingredient in recipe.ingredients %}
                            <div class="col s12 m6">
                                {% if ingredient.measurement == 'qty' %} 
                                    {% if ingredient.quantity == "" %}
                                        <li>{{ingredient.ingredient_name}}</li>
                                    {% else %}
                                    <li>{{ingredient.quantity}} of {{ingredient.ingredient_name}}</li>
                                    {% endif %}
                                {% elif ingredient.measurement == 'to taste'%}
                                    <li>{{ingredient.ingredient_name}} {{ingredient.measurement}}</li>
                                {% else %}
                                    <li>{{ingredient.quantity}} {{ingredient.measurement}} of {{ingredient.ingredient_name}}</li>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div id="steps" class="col s12">
                    <div class="col s12 recipe-steps-tab">
                        <ul class="recipe-steps left-align">
                            {% for step in recipe.steps %}
                                <li>
                                    <p>{{step.step}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 center-align">
                <a href="{{ url_for('create_recipe') }}" class="btn waves-effect waves-light" id="add-recipe-btn" type="submit">add a recipe
                    <i class="material-icons right">add</i>
                </a>
            </div>
            <div class="col s12 m6 center-align">
                <a href="{{ url_for('browse_recipes') }}" class="btn waves-effect waves-light" id="browse-recipes-btn" type="submit">browse recipes
                    <i class="material-icons right">replay</i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}