{% extends 'base.html' %} {% block content %}
<h3>edit recipe {{recipe.title}}</h3>
<div class="row">
    <form action="" method="POST" class="col s12" name="">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">title</i>
                <input id="icon_prefix" name='title' type="text" class="validate" value="{{recipe.title}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <table>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Measurement</th>
                        <th> </th>
                    </tr>
                    {% for ingredient in recipe.ingredients %}
                    <tr>
                        <td><input id="icon_prefix" name='title' type="text" class="validate" value="{{ingredient.ingredient_name}}"></td>
                        <td><input id="icon_prefix" name='title' type="text" class="validate" value="{{ingredient.quantity}}"></td>
                        <td><select id="measurements">
                        {% for measure in measurements %}
                        {% if measure == ingredient.measurement %}
                            <option value="{{measure}}" selected>{{measure}}</option>
                        {% else %}
                            <option value="{{measure}}" >{{measure}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col s8">
                <table>
                    <tr>
                        <th>Edit Steps:</th>
                    </tr>
                    {% for step in recipe.steps %}
                    <tr>
                        <td><textarea id="steps-input" class="materialize-textarea">{{step}}</textarea></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}