{% extends 'base.html' %} {% block content %}
<h3>edit recipe {{recipe.title}}</h3>
<div class="row">
    <form action="" method="POST" class="col s12" name="title">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">title</i>
                <input id="icon_prefix" name='title' type="text" class="validate" value="{{recipe.title}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s6">
            <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" name="existing_ingredients">
                {% for ingredient in recipe.ingredients %}
                <input id="ingredient_id" name='ingredient_id' type="text" class="validate hidden-element" value="{{ingredient.ingredient_id}}">
                <div class="col s4">
                    <input id="icon_prefix" name='ingredient_name' type="text" class="validate" value="{{ingredient.ingredient_name}}">
                </div>
                <div class="col s3">
                    <input id="icon_prefix" name='quantity' type="text" class="validate" value="{{ingredient.quantity}}">
                </div>
                <div class="col s4">
                    <select id="measurements" name="measurement">
                    {% for measure in measurements %}
                        {% if measure == ingredient.measurement %}
                        <option value="{{measure}}" selected>{{measure}}</option>
                        {% else %}
                        <option value="{{measure}}" >{{measure}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
                <div class="col s1">
                    <button id='remove_ingredient' name="remove_ingredient" value="{{ingredient.ingredient_id}}" class="btn-floating btn-small waves-effect waves-light red" type="submit"><i class="material-icons">delete_forever</i></button>
                </div>
                {% endfor %}
            </form>
            <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" name="add_ingredients">
                <div class="input-field col s4">
                    <input id="ingredient" type="text" class="validate" name='ingredient_name'>
                    <label for="ingredient">Ingredients</label>
                </div>
                <div class="input-field col s3">
                    <input id="quantity" type="text" class="validate" name='quantity'>
                    <label for="quantity">Quantity</label>
                </div>
                <div class="input-field col s4">
                    <select id="measurements" name='measurement'>
                        {% for measure in measurements %}
                        <option value="{{measure}}">{{measure}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s1">
                    <button id='add_ingredient' name='add_ingredient' class="btn-floating btn-small waves-effect waves-light green" type="submit"><i class="material-icons">add</i></button>
                </div>
            </form>
        </div>
        <div class="col s6">
            <table>
                <tr>
                    <th>Edit Steps:</th>
                </tr>
                {% for steps in recipe.steps %}
                <tr>
                    <td><textarea id="steps-input" name="{{steps.step_id}}" class="materialize-textarea">{{steps.step}}</textarea></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}